@import './components/front-page';
@import './components/navbar';
@import './components/second-page';
@import './components/about-me';
@import './components/projects';
@import './components/caboose';

* {
  box-sizing: border-box;
}

// Getting rid of scrollbars

 body {
  position: absolute;
  width: 100vw;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
 }

 body::-webkit-scrollbar {
  display: none;
 }

 .sidenav-trigger {
   z-index: 5;
 }
