#frontPage {
  background: url('/images/NH\ 11A.jpg');
  background-size: cover;
  width: 100%;
  padding-top: 50px;
  height: 100vh;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.5), 0 4px 40px 5px rgba(0,0,0,0.5);
}

#theName {
  color: white;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  font-size: 6vmax;
  font-family: 'Cinzel', serif;
  text-shadow: 6px 6px 6px black;
}

.glyphicon-menu-down {
  position: absolute;
  top: 14em;
  left: 10em;
  right: 10em;
  color: white;
  font-family: 'Glyphicons Halflings';
}

h3 {
  font-family: 'IM Fell Great Primer SC', serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
