main {
  h3 {
    font-size: 5vmax;
    margin-top: 0;
    color: #ffab00;
  }

  p {
    font-family: 'Playfair Display', serif;
    font-size: 2vmax;
    text-align: justify;
    padding: 10px 0px;
    margin-bottom: 0;
  }
}

