/* article {
    width: 100%;
}

img {
    width: 100%;
}

body {
    background-color: cadetblue;
}

a:hover {
    color: red;
    background-color:black;
    display: inline-block;
    text-align: center;
} */

* {
  box-sizing: border-box;
}

.foreground-image {
  width: 100vw;
  height: auto;
}

body {
  /* background-image: url('/images/NH\ 11.jpg'); */
  width: 100%;
  background-size: cover;
  padding-top: 50px;
}

h1 {
  text-style: bold;
  color: white;
  background-color: black;
  border-radius: 10px;
  display: inline-block;
}

nav a {
  color: 	#5cb85c !important;
}

nav a:hover {
  border: 3px solid #5cb85c;
}